body{padding-top: 50px}

.page-header h1{float: left}

.page-header .package-filter{float: right;margin: 2em 0 0}
.page-header .package-filter .input-group-addon{background: none;}

.page-header .stats{clear: both;overflow: auto;}
.page-header .stats .reset-filter{float: right;margin-top: -2px;display: none;}
.page-header .stats .reset-filter:after{content:"×";display: inline-block;font-weight: bold;color:#999;text-decoration: none;padding-left: 3px;line-height: 1;font-size: 23px;position: relative;top:1px}
.page-header .stats .reset-filter:hover:after{color:#777}
.page-header .stats .stats-title li{display: table-cell;width: 1%;text-align: center;white-space: nowrap;color:#000}
.page-header .stats .stats-title .dot{display: inline-block;width: 15px;height: 15px;border-radius: 50%;float: none;position: relative;top:2px}
.page-header .stats .stats-title a{padding: 0 0 0 2px;color:#555;}
.page-header .stats .stats-title a:hover{color:#000}

.navbar-inverse .navbar-brand{color:#fff}
.navbar-inverse .navbar-text{font-style: italic;color:#ddd}
.navbar-inverse .navbar-nav{margin-left: 50px;}
.navbar-inverse .navbar-nav > li > a:hover{background:#000}

.table.dashboard th, .table.dashboard td{text-align: center;}
.table.dashboard .pkg, .table.dashboard .ver, .table.dashboard .date{text-align: left;}
.table.dashboard td.link{padding: 0;}
.table.dashboard td.link a{display: block;padding: 8px;}
.table.dashboard td.q{width: 70px}


.page-header .nav{float: right;margin-top: 1.8em;}

.version .panel-group .panel-heading{cursor:pointer}
.version pre{margin: 0;background:none;border:none}
.version pre.panel-body{padding:0 15px;max-height:250px;overflow-y: auto;-webkit-transition:max-height .4s ease;transition:max-height .4s ease}

.version pre.panel-body.panel-hidden{max-height: 0;}
.version .panel.panel-success .panel-body{max-height: 0}
.version .panel.panel-success .panel-hidden.panel-body{max-height: 250px;}

.version-nav{position: fixed;top:190px;width: 160px;}


.footer{padding:40px;margin-top: 40px;border-top: 1px solid #eee;text-align: center;}
p: 40px;border-top: 1px solid #eee;text-align: center;}
