<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LunaCI - LuaDist CI Environment</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">LunaCI</a>
            <p class="navbar-text">LuaDist CI Environment</p>
        </div>
    </nav>

    <div class="container">

        <div class="page-header">
            <h1>Dashboard</h1>

            <form class="form-inline package-filter">
                <div class="form-group">
                    <label class="sr-only" for="searchFilter">Search packages</label>
                    <input type="text" class="form-control table-filter-input" id="searchFilter" placeholder="Search packages" data-table="package-table">
                </div>
            </form>

            <div class="stats">
                <p>$(stats.packages) packages available</p>
# --                <span class="progress-title" style="width: $ (stats.passing)%">$ (stats.passing)% passing</span>
# --                <span class="progress-title" style="width: $ (stats.failing)%">$ (stats.failing)% failing</span>
# --                <span class="clearfix"></span>
# --                <div class="progress">
# --                    <span class="progress-bar progress-bar-success progress-bar-striped" style="width: $ (stats.passing)%"></span>
# --                    <span class="progress-bar progress-bar-danger  progress-bar-striped" style="width: $ (stats.failing)%"></span>
# --                </div>
            </div>
        </div>

        <table class="dashboard table table-bordered table-hover table-striped" id="package-table">

            <thead>
                <tr>
                    <th class="pkg" rowspan="2">Package</th>
                    <th class="ver" rowspan="2">Latest version</th>
# for _, target in sort(targets) do
                    <th colspan="$(#tasks)">$(ucfirst(target))</th>
# end
                </tr>
                <tr>
# for _ in sort(targets) do
#   for _, task in sort(tasks) do
                    <td>$(task)</td>
#   end
# end
                </tr>
            </thead>

            <tbody>
# for package_name, report in sort(packages) do
#   local latest_package = report:get_latest()
                <tr>
                    <td class="pkg link"><a href="packages/$(package_name)/">$(package_name)</a></td>
                    <td class="ver">$(latest_package.version)</td>
#   for _, target in sort(latest_package.targets) do
#       for _, task in pairs(target) do
                    <td class="q $(result2class(task.success))">$(result2msg(task.success))</td>
#       end
#   end
                </tr>
# end
            </tbody>

        </table>

    </div>

    <footer class="footer">
        <p>This report was generated by <a href="http://github.com/LuaDist/LunaCI">LunaCI</a>. Part of the <a href="http://luadist.org">LuaDist project</a>.</p>
    </footer>

    <script src="/assets/script.js"></script>

</body>
</html>
